<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" href="index.css"> -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
	<script src="https://unpkg.com/htmx.org@1.9.2"></script>
	<title>test</title>
</head>

<body class="">
	{% include "partials/header.html" %}
	<button>initialize tables </button>
	<h1>Admin Page</h1>
<h1>Product Code: {{ Code }}</h1>
<h1>Product Price: {{ Price }}</h1>
</body>
 
</html> 
