<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" href="index.css"> -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
	<script src="https://unpkg.com/htmx.org@1.9.2"></script>
	<title>Admin</title>
</head>

<body>
	{% include "partials/header.html" %}
	<section style ="font-size: 1.5rem;padding: 1rem 0 1rem 0" class="container">
		<span>Admin</span>
	<hr>
	</section>
	<h1> Access Denied </h1>
</body>
 
</html> 
