<nav style="padding: 0 1rem 0 1rem; border-bottom:solid 1px gainsboro">
  <ul>
	  <li><a style="color: inherit;" href="/"><strong>Frend</strong>Link</a></li>
  </ul>
  <ul>
	<li><a href="/">Min side</a></li> |
    <li><a href="/helpers">Hjelpere</a></li>|
    <li><a href="/activities">Aktiviteter </a></li>|
    <li><a href="/groups">Grupper</a></li>|
    <li><a href="/organization">Organisasjon</a></li>
	<!-- Dropdown -->
	<li>
	<details role="list">
  	<summary style="border:none;" aria-haspopup="listbox">roger@frendlink.no</summary>
  <ul role="listbox">
    <li><a>Min profil</a></li>
    <li><a>Innstillinger</a></li>
    <li><a>Logg ut</a></li>
  </ul>
</details>
</li>
  </ul>
</nav>
