<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" href="index.css"> -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
	<script src="https://unpkg.com/htmx.org@1.9.2"></script>
	<title>Aktiviteter</title>
</head>

<body>
	{% include "partials/header.html" %}
	<section style ="font-size: 1.5rem;padding: 1rem 0 1rem 0" class="container">
		<span>Aktiviteter</span>
	<hr>
	</section>
	<section class="grid" style="gap:1rem; padding:1rem">
		<article style="width:30rem">
			<hgroup>
			  <h2>Gressklipping</h2>
			  <h3><a>Roger Hogli</a></h3>
			</hgroup>
			<hr>
			<div class="grd" style="display:flex">
			<span><img src="https://i.imgur.com/6SDrqyn.jpeg" style="height: 5rem;"></span>
			<span style="margin:0 0 0 1rem">gressklipping tilgjenglig i helgen, er verifisert</span>
			</div>
			<footer>
			<button>Bli med</button>
			</footer>
		</article>


		<article style="width:30rem">
			<hgroup>
			  <h2>Vaskehjelp</h2>
			  <h3><a>Guri Malla</a></h3>
			</hgroup>
			<hr>
			<div class="grd" style="display:flex">
			<span><img src="https://i.imgur.com/6SDrqyn.jpeg" style="height: 5rem;"></span>
			<span style="margin:0 0 0 1rem">Nypensjonert og Vil gjerne ta paa meg vaskejobber</span>
			</div>
			<footer>
			<button>Bli med</button>
			</footer>
		</article>
		
	</section>
	<section class="grid" style="gap:1rem; padding:1rem">
		
		<article style="width:30rem">
			<hgroup>
			  <h2>Konsert safari</h2>
			  <h3><a>Cornelius Hermansen</a></h3>
			</hgroup>
			<hr>
			<div class="grd" style="display:flex">
			<span><img src="https://i.imgur.com/6SDrqyn.jpeg" style="height: 5rem;"></span>
			<span style="margin:0 0 0 1rem">Bli med paa god musikk og godt liv med mange gode konserter i helgen</span>
			</div>
			<footer>
			<button>Bli med</button>
			</footer>
		</article>


		<article style="width:30rem">
			<hgroup>
			  <h2>Vinterforberedelser</h2>
			  <h3><a>Ole Hansen</a></h3>
			</hgroup>
			<hr>
			<div class="grd" style="display:flex">
			<span><img src="https://i.imgur.com/6SDrqyn.jpeg" style="height: 5rem;"></span>
			<span style="margin:0 0 0 1rem">Hjelper til med aa sette inn m;bler og annet for aa forberede seg til vinter]</span>
			</div>
			<footer>
			<button>Bli med</button>
			</footer>
		</article>
	</section>

</body>
 
</html> 
