<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" href="index.css"> -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
	<script src="https://unpkg.com/htmx.org@1.9.2"></script>
	<title>Grupper</title>
</head>

<body>
	{% include "partials/header.html" %}
	<section style ="font-size: 1.5rem;padding: 1rem 0 1rem 0" class="container">
		<span>Grupper</span>
	<hr>
	</section>
	<section class="container">
		<div class="grid" style="gap:1rem;">
			<article>
				<header class="grid" style="Background-color:steelblue">
					<h2 style="color:white">Drammen Boccia klubb</h2> 
					<div>
					<button style="background-color:lightblue;color:inherit;height:3rem;width:15rem;">bli medlem</button>
					<button style="background-color:lightblue;color:inherit;height:3rem;width:15rem">Send melding</button>
					</div>
				</header>
				<div class="grid" style="margin-top:1rem">
				<img style="width:auto" src="http://2.bp.blogspot.com/-JxEm57kYpms/UMAvQULqnuI/AAAAAAAAOis/vVuC7CIN-BU/s1600/Green%2BNature%2BWallpapers%2B02.jpg" style="height: 10rem;">
				<p style="padding:1rem">
				strekk paa kroppen i godt bocchia lag
				</p>
				</div>
			</article>
		</div>
		<div class="grid" style="gap:1rem;">
			<article>
				<header class="grid" style="Background-color:steelblue">
					<h2 style="color:white">Kaffeklubben bragernes</h2> 
					<div>
					<button style="background-color:lightblue;color:inherit;height:3rem;width:15rem;">bli medlem</button>
					<button style="background-color:lightblue;color:inherit;height:3rem;width:15rem">Send melding</button>
					</div>
				</header>
				<div class="grid" style="margin-top:1rem">
				<img style="width:auto" src="http://2.bp.blogspot.com/-JxEm57kYpms/UMAvQULqnuI/AAAAAAAAOis/vVuC7CIN-BU/s1600/Green%2BNature%2BWallpapers%2B02.jpg" style="height: 10rem;">
				<p style="padding:1rem">
					Vi treffes hver Fredag for kaffe, Kanelboller og en god prat
					Vi moetes paa torget foer vi gaar videre 
				</p>
				</div>
			</article>
		</div>

	</section>
</body>
 
</html> 
